// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


@font-face {
    font-family: "funnelsans";
    src: url("../assets/Funnel_Sans,Indie_Flower,Patrick_Hand,Truculenta/Funnel_Sans/static/FunnelSans-Regular.ttf")
  }



  @font-face {
    font-family: "patrick";
    src: url("../assets/Funnel_Sans,Indie_Flower,Patrick_Hand,Truculenta/Patrick_Hand/PatrickHand-Regular.ttf");
  }

  @font-face {
    font-family: "truculenta";
    src: url("../assets/Funnel_Sans,Indie_Flower,Patrick_Hand,Truculenta/Truculenta/Truculenta-VariableFont_opsz,wdth,wght.ttf");
  }