ion-icon{
    color: rgb(81, 15, 15);
}

ion-content{
    --ion-background-color: url(../../assets/Background.png);
} 

ion-list{
    font-family: "funnelsans";
}

ion-title{
    font-family: "patrick";
}
