.add{
    float: right;
    padding-right: 3%;
    padding-top: 111.6%;
    --background: rgb(81, 15, 15);
    color: rgb(209, 131, 131);
}

.arrow{
    color: rgb(81, 15, 15);
}

ion-content{
    --ion-background-color: url(../../assets/Background.png);
}

ion-title{
    font-family: "patrick";
}
