
ion-button{
    color: rgb(81, 15, 15);
    --background: white;
}

ion-content{
    --ion-background-color: rgb(255, 243, 244);
}

ion-title{
    font-family: "patrick";
    color: rgb(81, 15, 15);
}

ion-card{
    --ion-background-color: rgb(236, 190, 190);
}


p{
    text-align: center;
}

h2{
    padding-left: 4%;
    font-weight: bold;
}

#map{
    height: 100%;
}