<ion-toolbar class="topbar">
  <ion-title size="large">Lists</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <h2 style="padding-left:4%;">New List</h2>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <h1>Title:</h1>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label>Add from bookmarks:</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
    <ion-button class="confirm">
      <h2 class="add">Confirm?</h2>
    </ion-button>
  </ion-card>

</ion-content>
